<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/js/uikit-icons.min.js"></script>
    {{!-- Jquery link --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
    <nav class="uk-navbar-container" style="background: #C2CCB4" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><img id="nav-logo" data-src="./images/code_with_friends_logo.png" alt="site logo" uk-img></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            {{#if user}}
            <ul class="uk-navbar-nav">
                {{!-- <li class="uk-active"><a href="#">Active</a></li> --}}

                <li>
                    <a href="#" id="settings">Settings</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/questions">Edit Account</a></li>
                            <li><a href="#" id="delete">Delete Account</a></li>
                        </ul>
                    </div>
                </li>


                <li>
                    <a href="/logout"><span uk-icon="icon: sign-out" id="logout">LOG OUT</span></a>
                </li>
            </ul>
            {{/if}}
        </div>
    </nav>

    {{{body}}}


    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/questions.js"></script>
    <script src="/js/profile.js"></script>
</body>

</html>