<nav class="uk-navbar-container" style="background: #C2CCB4" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/"><img id="nav-logo" data-src="./images/code_with_friends_logo.png" alt="site logo" uk-img></a></li>
        </ul>
    </div>
</nav>

<div id="broken">

    <div id="error">
        <div id="error-title">
            <h2>Oops! This is not the Coding Community <span role="img" aria-label="Face with rolling eyes">🙄</span></h2>
        </div>
        <div class="content-container">
            <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <h2>Looks like you're going to have to code alone</h2>
                    <h3>Error code: 404</h3>
                    <h3>Maybe you can find your tribe <a href="/">here </a>instead</h3>
                </div>
            </div>
        </div>
    </div>

</div>