<nav class="uk-navbar-container" style="background: #C2CCB4" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/"><img id="nav-logo" data-src="./images/code_with_friends_logo.png" alt="site logo" uk-img></a></li>
        </ul>
    </div>
</nav>

<div id="home">

        <div id="landing-page-content">
            <div id="landing-title">
                <h1>Welcome to the Coding Community</h1>
            </div>
            <div class="content-container">
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <p class="landing-description">Code with Friends is a space for new and aspiring full-stack web developers to connect and support each other in building knowledge, skills, and amazing projects. Find others at your level to learn with. </p>
                        <p class="text-align-center landing-description" id="makeBig">We can do more together!</p>
                    </div>
                    <div>
                        <a href="#modal-example1" uk-toggle>
                            <div class="uk-card uk-card-default uk-card-body" id="login-link">Log In</div>
                        </a>
                        <a href="#modal-example" uk-toggle>
                            <div class="uk-card uk-card-default uk-card-body" id="signup-link">Sign Up</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- This is the Log-in modal -->
        <div id="modal-example1" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title"> Log In </h2>
                <form>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input class="uk-input" type="text" placeholder="Email" id="email">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="password" placeholder="Password" id="password">
                        </div>
                    </div>

                </form>
                <p class="uk-text-right">
                    <button id="cancel-login" class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button id="user-login" class="uk-button uk-button-primary" type="submit">Submit</button>
                </p>
            </div>
        </div>

        <!-- This is the Sign up modal -->
        <div id="modal-example" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Sign Up</h2>

                <form id="sign-up">

                    <fieldset class="uk-fieldset">

                        <div class="uk-margin">
                            <input id="full-name-sign-up" class="uk-input" type="text" placeholder="Full Name">
                        </div>
                        <div class="uk-margin">
                            <input id="email-sign-up" class="uk-input" type="Email" placeholder="Email">
                        </div>
                        <div class="uk-margin">
                            <input id="user-name-sign-up" class="uk-input" type="text" placeholder="Username" name="username">
                        </div>
                        <div class="uk-margin">
                            <input id="password-sign-up" class="uk-input" type="password" placeholder="Password" name="pwd1">
                            <p class="tiny-text">min 6 characters, 1 uppercase, 1 lowercase, a number</p>
                        </div>
                </form>

                <p class="uk-text-right">
                    <button id="cancel-sign-up" class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button id="user-sign-up" class="uk-button uk-button-primary" type="submit">Submit</button>
                </p>
            </div>
        </div>
    </div>
</div>