{{!-- <div id="home"> --}}
  <div class="uk-container">
  <div>You Have an Idea? </div>
  <div>dgrgghtrtrgfggdgdgdfg</div>
  
  <br>

 

<!-- This is an anchor toggling the modal -->
<a href="#modal-example1"  class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" uk-toggle>Sign-IN</a>

<!-- This is the modal -->
<div id="modal-example1" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"> Sign-In: </h2>
  <form>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" placeholder="Username">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" type="password" placeholder="Password">
        </div>
    </div>

</form>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button id="user-login" class="uk-button uk-button-primary" type="submit">Submit</button>
        </p>
    </div>
</div>

<a href="#modal-example" class="uk-button uk-button-secondary uk-width-1-1" uk-toggle>Sign-up</a>

<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Sign-up:</h2>
  <form>

  <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input id="full-name" class="uk-input" type="text" placeholder="Full Name">
        </div>
        <div class="uk-margin">
            <input id="email" class="uk-input" type="Email" placeholder="Email">
        </div>
        <div class="uk-margin">
            <input id="user-name" class="uk-input" type="text" placeholder="Username">
        </div>
        <div class="uk-margin">
            <input id="password" class="uk-input" type="password" placeholder="Password">
        </div>
        <div class="uk-margin">
            <input id="confirm-password" class="uk-input" type="password" placeholder="Confirm Password">
        </div>
</form>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button id="user-sign-up" class="uk-button uk-button-primary" type="submit">Submit</button>
        </p>
    </div>
</div>

 </div>
{{!-- </div> --}}

{{!-- <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Code With Friends!!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <h4>create an account:</h4>
            <label for="fullName">Full Name:</label>
            <input type="text" id="full-name" class="form-control" aria-describedby="full-name" placeholder="name">
            <label for="Email">Email</label>
            <input type="email" id="email" class="form-control" aria-describedby="email" placeholder="email">
            <label for="userName">Username:</label>
            <input type="text" id="user-name" class="form-control" aria-describedby="user-name" placeholder="username">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" aria-describedby="password" placeholder="password">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h4>Already have an acount? Sign in!</h4>
        <form>
          <div class="login-form">
          <label for="userName">Username:</label>
          <input type="text" id="user-name" class="form-control" aria-describedby="user-name" placeholder="username">
          <label for="password">Password:</label>
          <input type="password" id="password" class="form-control" aria-describedby="password" placeholder="password">
          </div>
          <button id="submit" class="btn btn-primary float-right">Sign-in</button>
        </form>
      </div>
    </div>
  </div> --}}