<div id="joined">
    <h3>Thanks for joining our community</h3>
    <h4>Please Log-In</h4>
    <h2 class="uk-modal-title"> Log In </h2>
    <form>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" placeholder="Email" id="email">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" placeholder="Password" id="password">
            </div>
        </div>
        
            <button id="user-login" class="uk-button uk-button-primary" type="submit">Submit</button>
        
    </form>

</div>