<div uk-grid>
    <div class="uk-text-center">
        <div class="uk-width-auto">
            <div class="uk-card uk-card-default uk-card-body">
                <h5>Hello {{user.fullName}}! <span id="username" class="uk-text-emphasis uk-text-capitalize"> {{this.userName}}</span>
                    <span id="editProfileDetails" style="margin-left:1.25em" uk-icon="icon: pencil"></span></h5>
                <p class="uk-text-left">Github</p>
                <p class="uk-text-left">Linked in</p>
                <p class="uk-text-left">About me blurb</p>
            </div>
        </div>
    </div>

    <div class="uk-width-expand">
        <div class="uk-card uk-card-default uk-card-body">Your Recommended Matches</div>
        <ul>
            {{#each matches}}
                <li>{{this.fullName}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="uk-width-expand">
        <div class="uk-card uk-card-default uk-card-body">Your Skills profile</div>
    </div>

</div>

<div uk-grid>
    <div class="uk-card uk-card-default uk-card-body">Personal Connections</div>
</div>