<div uk-grid>
    <div>
        <h1 class="uk-heading"> <span><img data-src="./images/code_with_friends_logo.png" width="300px" height="200px"
                    alt="site logo" uk-img></span></h1>
    </div>
</div>
<div uk-grid>
    <div class="uk-text-center">
        <div class="uk-width-auto">
            <div class="uk-card uk-card-default uk-card-body">
                <h5 class="uk-text-left">Hello {{user.email}}! </h5>
                {{!-- SPAN with pencil icon     <span id="editProfileDetails" style="margin-left:1.25em" uk-icon="icon: pencil"></span> --}}
                <p class="uk-text-left">Github</p>
                <p class="uk-text-left">Linked in</p>
                <p class="uk-text-left">About me blurb</p>
            </div>
        </div>
    </div>

    <div class="uk-width-expand">
        <div class="uk-card uk-card-default uk-card-body">Recommended Matches</div>
    </div>

    <div class="uk-width-expand">
        <div class="uk-card uk-card-default uk-card-body">Your Skills profile</div>
    </div>

</div>

<div uk-grid>
    <div class="uk-card uk-card-default uk-card-body">Personal Connections</div>
</div>