<div class="questionnaire-item" id="questionnnaire-item-build">
    <div class="question-title">
        <h2>What are you interested in building?</h2>
    </div>
    <div class="question-container">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">Mobile App</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">Web App</div>
            </div>
        </div>
    </div>
    <div class="question-actions">
        <button class="uk-button uk-button-primary">Next</button>
    </div>
</div>

<div class="questionnaire-item uk-animation-slide-right" id="questionnnaire-item-time">
    <div class="question-title">
        <h2>How much do you code?</h2>
    </div>
    <div class="question-container">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">&#60; 10 hours per week</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">10-15 hours per week</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">16-20 hours per week</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">&#62; 20 hours per week</div>
            </div>
        </div>
    </div>
    <div class="question-actions">
        <button class="uk-button uk-button-primary">Next</button>
    </div>
</div>

<div class="questionnaire-item uk-animation-slide-right" id="questionnnaire-item-current-skills">
    <div class="question-title">
        <h2>Select all of your current skills?</h2>
    </div>
    <div class="question-container">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">HTML</div>
                <div class="uk-card uk-card-default uk-card-body">CSS</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">JAVASCRIPT</div>
                <div class="uk-card uk-card-default uk-card-body">JQUERY</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">NODE</div>
                <div class="uk-card uk-card-default uk-card-body">EXPRESS</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">REACT</div>
                <div class="uk-card uk-card-default uk-card-body">HANDLEBARS</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">MYSQL</div>
                <div class="uk-card uk-card-default uk-card-body">MONGODB</div>
            </div>
        </div>
    </div>
    <div class="question-actions">
        <button class="uk-button uk-button-primary">Next</button>
    </div>
</div>

<div class="questionnaire-item uk-animation-slide-right" id="questionnnaire-item-learn-skills">
    <div class="question-title">
        <h2>Select the skills you would like to learn?</h2>
    </div>
    <div class="question-container">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">HTML</div>
                <div class="uk-card uk-card-default uk-card-body">CSS</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">JAVASCRIPT</div>
                <div class="uk-card uk-card-default uk-card-body">JQUERY</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">NODE</div>
                <div class="uk-card uk-card-default uk-card-body">EXPRESS</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">REACT</div>
                <div class="uk-card uk-card-default uk-card-body">HANDLEBARS</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">MYSQL</div>
                <div class="uk-card uk-card-default uk-card-body">MONGODB</div>
            </div>
        </div>
    </div>
    <div class="question-actions">
        <button class="uk-button uk-button-primary">Next</button>
    </div>
</div>

<div class="questionnaire-item uk-animation-slide-right" id="questionnnaire-item-idea">
    <div class="question-title">
        <h2>Application Concept. Select the answer that best describes your situation</h2>
    </div>
    <div class="question-container">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">You already have an idea and you want help to develop
                    it</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">You want to contribute to an idea already in
                    development</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">You want connect with a fellow developer and
                    brainstorm an idea to develop</div>
            </div>
        </div>
    </div>
    <div class="question-actions">
        <button class="uk-button uk-button-primary">Next</button>
    </div>
</div>

<div class="questionnaire-item uk-animation-slide-right" id="questionnnaire-item-online-profiles">
    <div class="question-title">
        <h2>Your developer profiles</h2>
    </div>
    <div class="question-container">
        <form class="uk-form-horizontal">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">GitHub</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Your GitHub Link">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">LinkedIn</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Your LinkedIn Link">
                </div>
            </div>
        </form>
    </div>
    <div class="question-actions">
        <button class="uk-button uk-button-primary">Next</button>
    </div>
</div>

<div class="questionnaire-item uk-animation-slide-right" id="questionnnaire-item-about">
    <div class="question-title">
        <h2>About You</h2>
    </div>
    <div class="question-container">
        <form>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-text">About You</label>
                <textarea class="uk-textarea" rows="5" placeholder="Describe yourself so your fellow developers can get to know you..."></textarea>
            </div>
        </form>
    </div>
    <div class="question-actions">
        <button class="uk-button uk-button-primary">Create Profile</button>
    </div>
</div>