<div id="question-page-container">
    <div class="questionnaire-item" id="questionnaire-item-build">
        <div class="question-title" id="build-title">
            <h2>What is your coding level?</h2>
        </div>
        <div class="question-container" id="userLevel">
            <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <label for="beginner">
                        <div id="beg" class="uk-card uk-card-default uk-card-body">
                            <input class="uk-radio hide-btn" type="radio" name="userLevel" value="beg" id="beginner">
                            BEGINNER
                        </div>
                    </label>
                </div>
                <div>
                    <label for="interm">
                        <div id="int" class="uk-card uk-card-default uk-card-body">
                            <input class="uk-radio hide-btn" type="radio" name="userLevel" value="int" id="interm">
                            INTERMEDIATE
                        </div>
                    </label>
                </div>
                <div>
                    <label for="advance">
                        <div id="advanced" class="uk-card uk-card-default uk-card-body">
                            <input class="uk-radio hide-btn" type="radio" name="userLevel" value="advanced" id="advance">
                            ADVANCED
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="question-actions">
            <button class="uk-button back-button" id="back-build"><span uk-icon="chevron-left"></span><span class="uk-text-lowercase">back</span></button>
            <button class="uk-button uk-button-primary next-question" id="add-build">Next</button>
        </div>
    </div>

    <div class="questionnaire-item uk-animation-slide-right" id="questionnaire-item-time">
        <div class="question-title" id="time-title">
            <h2>How much do you code?</h2>
        </div>
        <div class="question-container" id="timeType">
            <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <label for="less-ten">
                        <div data-state="notSelected" class="uk-card uk-card-default uk-card-body time-div">
                            <input class="uk-radio hide-btn" type="radio" name="timeType" value="less10hours" id="less-ten">
                            &#60; 10 hours per week
                        </div>
                    </label>
                </div>

                <div>
                    <label for="ten-fif">
                        <div data-state="notSelected" class="uk-card uk-card-default uk-card-body time-div">
                            <input class="uk-radio hide-btn" type="radio" name="timeType" value="10-15" id="ten-fif">
                            10-15 hours per week
                        </div>
                    </label>
                </div>
                <div>
                    <label for="six-twenty">
                        <div data-state="notSelected" class="uk-card uk-card-default uk-card-body time-div">
                            <input class="uk-radio hide-btn" type="radio" name="timeType" value="16-20" id="six-twenty">
                            16-20 hours per week
                        </div>
                    </label>
                </div>
                <div>
                    <label for="twenty-up">
                        <div data-state="notSelected" class="uk-card uk-card-default uk-card-body time-div">
                            <input class="uk-radio hide-btn" type="radio" name="timeType" value="20-more" id="twenty-up">
                            &#62; 20 hours per week
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="question-actions">
             <button class="uk-button back-button" id="back-from-time"><span uk-icon="chevron-left"></span><span class="uk-text-lowercase">back</span></button>
            <button class="uk-button uk-button-primary next-question" id="add-time">Next</button>
        </div>
    </div>

    <div class="questionnaire-item uk-animation-slide-right" id="questionnaire-item-current-skills">
        <div class="question-title" id="skills-title">
            <h2>Select all of your current skills.</h2>
        </div>
        <div class="question-container">
            <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body skill" id="html">HTML</div>
                    <div class="uk-card uk-card-default uk-card-body skill" id="css">CSS</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body skill" id="javascript">JAVASCRIPT</div>
                    <div class="uk-card uk-card-default uk-card-body skill" id="jquery">JQUERY</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body skill" id="node">NODE</div>
                    <div class="uk-card uk-card-default uk-card-body skill" id="express">EXPRESS</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body skill" id="react">REACT</div>
                    <div class="uk-card uk-card-default uk-card-body skill" id="handlebars">HANDLEBARS</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body skill" id="mysql">MYSQL</div>
                    <div class="uk-card uk-card-default uk-card-body skill" id="mongodb">MONGODB</div>
                </div>
            </div>
        </div>
        <div class="question-actions">
            <button class="uk-button back-button" id="back-from-skills"><span uk-icon="chevron-left"></span><span class="uk-text-lowercase">back</span></button>
            <button class="uk-button uk-button-primary next-question" id="add-current-skills">Next</button>
        </div>
    </div>

    <div class="questionnaire-item uk-animation-slide-right" id="questionnaire-item-idea">
        <div class="question-title" id="idea-title">
            <h2>Application Concept. Select the answer that best describes your situation</h2>
        </div>
        <div class="question-container">
            <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <label for="have-idea">
                        <div data-state="notSelected" class="uk-card uk-card-default uk-card-body idea-div">
                            <input class="uk-radio hide-btn" type="radio" name="ideaType" value="haveIdea" id="have-idea">
                            You already have an idea and you want help to develop it
                        </div>
                    </label>
                </div>
                <div>
                    <label for="want-idea">
                        <div data-state="notSelected" class="uk-card uk-card-default uk-card-body idea-div">
                            <input class="uk-radio hide-btn" type="radio" name="ideaType" value="wantIdea" id="want-idea">
                            You want to contribute to an idea already in development
                        </div>
                    </label>
                </div>
                <div>
                    <label for="brainstorm-idea">
                        <div data-state="notSelected" class="uk-card uk-card-default uk-card-body idea-div">
                            <input class="uk-radio hide-btn" type="radio" name="ideaType" value="brainstormIdea" id="brainstorm-idea">
                            You want connect with a developer and brainstorm an idea
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="question-actions">
            <button class="uk-button back-button" id="back-from-idea"><span uk-icon="chevron-left"></span><span class="uk-text-lowercase">back</span></button>
            <button class="uk-button uk-button-primary next-question" id="add-idea">Next</button>
        </div>
    </div>

    <div class="questionnaire-item uk-animation-slide-right" id="questionnaire-item-online-profiles">
        <div class="question-title" id="online-profile-title">
            <h2>Your developer profiles</h2>
        </div>
        <div class="question-container" id="socialType">
            <form class="uk-form-horizontal">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">GitHub</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Your GitHub Link">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text2">LinkedIn</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-horizontal-text2" type="text" placeholder="Your LinkedIn Link">
                    </div>
                </div>
            </form>
        </div>
        <div class="question-actions">
            <button class="uk-button back-button" id="back-from-online-profiles"><span uk-icon="chevron-left"></span><span class="uk-text-lowercase">back</span></button>
            <button class="uk-button uk-button-primary next-question" id="add-online-profiles">Next</button>
        </div>
    </div>

    <div class="questionnaire-item uk-animation-slide-right" id="questionnaire-item-about">
        <div class="question-title" id="about-title">
            <h2>About You</h2>
        </div>
        <div class="question-container">
            <form>
                <div class="uk-margin">
                    <textarea class="uk-textarea" id="about-you" rows="5" placeholder="Describe yourself so your fellow developers can get to know you..."></textarea>
                </div>
            </form>
        </div>
        <div class="question-actions">
            <button class="uk-button back-button" id="back-from-about-me"><span uk-icon="chevron-left"></span><span class="uk-text-lowercase">back</span></button>
            <button class="uk-button uk-button-primary" id="create-profile">Create Profile</button>
        </div>
    </div>


    {{!-- modal hidden unless user does not make a selection: see public/js/questions.js --}}
    <div id="modal-no-response" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h4 class="uk-modal-title">Must make selection</h4>
            <button class="uk-modal-close" type="button"><span uk-icon="icon: close">close</button>
        </div>
    </div>
</div>




{{!-- <div class="questionnaire-item uk-animation-slide-right" id="questionnaire-item-learn-skills">
    <div class="question-title">
        <h2>Select the skills you would like to learn?</h2>
    </div>
    <div class="question-container">
        <div class="uk-grid-match uk-child-width-expand uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body learn-skill" id="html">HTML</div>
                <div class="uk-card uk-card-default uk-card-body learn-skill" id="css">CSS</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body learn-skill" id="javascript">JAVASCRIPT</div>
                <div class="uk-card uk-card-default uk-card-body learn-skill" id="jquery">JQUERY</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body learn-skill" id="node">NODE</div>
                <div class="uk-card uk-card-default uk-card-body learn-skill" id="express">EXPRESS</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body learn-skill" id="react">REACT</div>
                <div class="uk-card uk-card-default uk-card-body learn-skill" id="handlebars">HANDLEBARS</div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body learn-skill" id="mysql">MYSQL</div>
                <div class="uk-card uk-card-default uk-card-body learn-skill" id="mongodb">MONGODB</div>
            </div>
        </div>
    </div>
    <div class="question-actions">
        <button class="uk-button uk-button-primary next-question" id="add-learn-skills">Next</button>
    </div>
</div> --}}