#home {
  background-image: url("https://www.thebalancecareers.com/thmb/RYWmC5dIQeNG5qsWsfThiljSBNA=/400x250/filters:no_upscale():max_bytes(150000):strip_icc()/reflection-of-male-hacker-coding-working-hackathon-at-laptop-697538579-5ae5479fff1b780036674eaf.jpg");
  background-size: cover;
  height: 608px;
}
.container {
  text-align: center;
}
.question-title {
  text-align: center;
}
.questionnaire-item {
  text-align: center;
}
#questionnaire-item-build {
  padding: 60px;
}
#questionnaire-item-time {
  display: none;
}
#questionnaire-item-current-skills {
  display: none;
}
#questionnaire-item-learn-skills {
  display: none;
}
#questionnaire-item-idea {
  display: none;
}
#questionnaire-item-online-profiles {
  display: none;
}
#questionnaire-item-about {
  display: none;
}

.app-selected, .time-selected, .skill-selected, .idea-selected {
  background-color: #4CAF50; /* Green */
}
.hide-btn {
  width: 300px;
  height: 300px;
  display: none;
}
